/* main */
html,
body {
    margin: 0;
    font-family: "Lato", sans-serif;
}

.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* navbar */
.navbar-color {
    background: #003366;
}

/* footer */
.content {
    min-height: calc(100vh - 100px);
}
.footer {
    bottom: 0;
    height: 100px;
    width: 100%;
    /* position: fixed; */
}
.footer-content {
    bottom: 0;
    padding: 30px;
}

/* button */
.btn-blue {
    background: #3399CC;
    color: #ffff;
    border: none;
}

a:link {
    color: #3399CC;
    text-decoration: none;
}

a:hover {
    color: #003399;
    text-decoration: underline;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue:active:focus,
.btn-blue:active:hover,
.btn-blue:active.focus,
.btn-blue.active,
.btn-blue.active:focus,
.btn-blue.active:hover,
.btn-blue.active.focus,
.open > .dropdown-toggle.btn-blue,
.open > .dropdown-toggle.btn-blue:hover,
.open > .dropdown-toggle.btn-blue:focus,
.open > .dropdown-toggle.btn-blue.focus,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled.focus,
.btn-blue[disabled].focus,
fieldset[disabled] .btn-blue.focus {
    background: #003399;
    color: #ffff;
    text-decoration: none;
}

.btn-red {
    background: #C73E3A;
    color: #ffff;
    border: none;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red:active:focus,
.btn-red:active:hover,
.btn-red:active.focus,
.btn-red.active,
.btn-red.active:focus,
.btn-red.active:hover,
.btn-red.active.focus,
.open > .dropdown-toggle.btn-red,
.open > .dropdown-toggle.btn-red:hover,
.open > .dropdown-toggle.btn-red:focus,
.open > .dropdown-toggle.btn-red.focus,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled.focus,
.btn-red[disabled].focus,
fieldset[disabled] .btn-red.focus {
    background: #B31712;
    color: #ffff;
    text-decoration: none;
}

.btn-green {
    background: #24936E;
    color: #ffff;
    border: none;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green:active:focus,
.btn-green:active:hover,
.btn-green:active.focus,
.btn-green.active,
.btn-green.active:focus,
.btn-green.active:hover,
.btn-green.active.focus,
.open > .dropdown-toggle.btn-green,
.open > .dropdown-toggle.btn-green:hover,
.open > .dropdown-toggle.btn-green:focus,
.open > .dropdown-toggle.btn-green.focus,
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled.focus,
.btn-green[disabled].focus,
fieldset[disabled] .btn-green.focus {
    background: #2E7157;
    color: #ffff;
    text-decoration: none;
}
.btn-yellow {
    background: #FFB11B;
    color: #ffff;
    border: none;
}

.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow:active:focus,
.btn-yellow:active:hover,
.btn-yellow:active.focus,
.btn-yellow.active,
.btn-yellow.active:focus,
.btn-yellow.active:hover,
.btn-yellow.active.focus,
.open > .dropdown-toggle.btn-yellow,
.open > .dropdown-toggle.btn-yellow:hover,
.open > .dropdown-toggle.btn-yellow:focus,
.open > .dropdown-toggle.btn-yellow.focus,
.btn-yellow.disabled:hover,
.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-yellow:hover,
.btn-yellow.disabled:focus,
.btn-yellow[disabled]:focus,
fieldset[disabled] .btn-yellow:focus,
.btn-yellow.disabled.focus,
.btn-yellow[disabled].focus,
fieldset[disabled] .btn-yellow.focus {
    background: #CC8C16;
    color: #ffff;
    text-decoration: none;
}

.btn-cancel {
    background: #ffff;
    color: #606060;
    border: solid 1px #606060;
}

.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active,
.btn-cancel:active:focus,
.btn-cancel:active:hover,
.open > .dropdown-toggle.btn-cancel,
.open > .dropdown-toggle.btn-cancel:hover,
.open > .dropdown-toggle.btn-cancel:focus,
.btn-cancel.disabled:hover,
.btn-cancel[disabled]:hover,
fieldset[disabled] .btn-cancel:hover,
.btn-cancel.disabled:focus,
.btn-cancel[disabled]:focus,
fieldset[disabled] .btn-cancel:focus,
.btn-cancel[disabled].focus {
    background: #D9D9D9;
    color: #003399;
    border: solid 1px #999999;
    text-decoration: none;
}
.button-group {
    display: flex;
    justify-content: flex-end;
}

/* Modal*/
.modal-head-color {
    background: #003366;
}

.modal-head-color-blue-transparent {
    background-color: #98c5f3;
}

/* Others */
.record-list {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
.record-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    position: relative;
    padding-left: 20px;
    color: rgb(114, 113, 113);
}
.record-list li::before {
    content: "•";
    position: absolute;
    left: 0;
}

.total-info {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
}
.font-navy {
    color: #003366;
}
.font-bold {
    font-weight: bold;
}
.details-box {
    background-color: #f7f4f4;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: 1px solid #000000;
}

.index-background {
    position: relative;
    background-image: url("/images/pexels-k-howard-2220292.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.index-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(225, 225, 225, 0.8);
    /* z-index: 1; */
}

.index-background main {
    position: relative;
    /* z-index: 2; */
}

#calendar {
    height: 100%;
}

.logo-style {
    height: 50px;
}

/* Modal-red*/
.modal-head-color-red {
    background-color: #c73e3a;
}

.modal-head-color-red-transparent{
  background-color: #F2D3D3;
}

.modal-header .btn-close {
    filter: invert(1);
  }

  .pdf_logo {
    width: 80px;
}

/*
/*
  styles for statistical pages
*/
.statistic-db-choice-range{
    background-color: rgba(225, 225, 225, 0.8);
  }
  .statistic-each-db:hover {
    transform: translateY(-5px); /* Moves the element up by 5 pixels */
    transition: all 0.3s ease; /* Smooth transition */
  }
  .statistic-extract-condition:hover{
    transform: translateX(-5px); /* Moves the element up by 5 pixels */
    transition: all 0.3s ease; /* Smooth transition */
    color: black;
  }
  .statistic-extract-condition-clicked {
    background-color: #124DAB;
    color: white;
  }
  .statistic-extract-condition-clicked:hover {
    color: white;
  }
  .year-selection {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 8px 10px;
  }
.selected-date{
    background-color: #51b8ec;
}
